from app.database import engine, Base
{% for model in model_files %}
from app.models import {{ model }}
{% endfor %}

print("[*] Creating database tables...")
Base.metadata.create_all(bind=engine)
print("[✓] Tables created.")
